<section id="login" class="flex items-center justify-center mx-5 ">
    <div id="Animation-part" class="hidden md:flex items-center justify-around w-[40%] ">
        <div class="w-[550px] h-[550px] mx-auto mt-10 mb-5">
            <img src="/images/Ecommerce web page (1).gif" class="w-[100%]" alt="">

        </div>
    </div>
    <div id="login-Part" class="flex flex-col items-center justify-center w-[60%]  ">

        <p class="text-3xl font-bold text-green-800 mb-4 mt-2 tracking-wide text-center drop-shadow-md">
            Welcome to Our Store
        </p>

        <div class="w-[125px] h-[125px] mx-auto mt-10 mb-[33px]">
            <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="Login Icon" class="w-full h-full object-cover">

        </div>

        <form [formGroup]="signInForm" (ngSubmit)="submitSignInForm()" class="max-w-md mx-auto w-[50%]">
            <div class="relative z-0 w-full mb-5 group">
                <input formControlName="email" type="email" name="floating_email" id="floating_email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600  focus:outline-none focus:ring-0 focus:border-green-600 peer"
                    placeholder=" " required />
                <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-green-400  peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email</label>
            </div>
            <div class="relative z-0 w-full mb-5  group">
                <input formControlName="password" type="password" name="floating_password" id="floating_password" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-green-600 peer"
                    placeholder=" " required />
                <label for="floating_password" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-green-400 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
            </div>


            <button [disabled]="signInForm.invalid || subBTN" type="submit" class="text-white bg-green-500 hover:bg-green-800   font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center disabled:bg-gray-600">Submit @if (subBTN) {<span> <i class=" ms-2 fa-solid fa-spinner fa-spin"></i></span>}</button>
        </form>




        <button data-modal-target="crud-modal" data-modal-toggle="crud-modal" class="text-center mt-5" type="button">
  <p class="text-gray-500 hover:text-gray-300 underline">Forget password ? </p>
</button>
        <div class="text-center mt-5">
            <p class="text-gray-500">Don't have an account? <a href="/register" class="text-green-400 hover:underline">Sign Up</a></p>

        </div>
    </div>

</section>








<!-- Main modal -->
<div id="crud-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-green-200">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    Forget Password..?
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5">
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <div class="col-span-2">
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter Email</label>
                        <input [(ngModel)]="email" type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-600 focus:border-primary-600 block w-full p-2.5 " placeholder="Your Email" required="">
                    </div>



                </div>
                <button data-modal-hide="crud-modal" [disabled]="!email" (click)="forgetPassword(email)" type="submit" class="disabled:bg-gray-500 text-white inline-flex items-center bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center ">
                    Send
                </button>
            </div>
        </div>
    </div>
</div>