<section class="ms-[8%]">
    <h2 class="text-2xl font-bold text-gray-700 pl-4 border-l-4 border-green-500 mb-5">
        Our Brands
    </h2>
    <div class=" grid sm:grid-cols-2  lg:grid-cols-3  py-5 w-[90%]  mx-auto ">
        @if (loading) { @for (brand of brandData.data ; track $index) {
        <div class="card mb-10 hover:border-2 hover:border-green-400 rounded hover:shadow overflow-hidden h-[300px] w-fit">
            <div>
                <img [src]="brand.image" [alt]="brand.name" alt="">
            </div>
            <hr class="w-4/6 mx-auto h-2 ">
            <p class="ms-5 font-bold text-2xl">{{brand.name}}</p>
            <p class="ms-5 font-medium text-green-500">{{brand.name}}</p>

        </div>
        } } @else { @for (item of [].constructor(8); track $index;let i =$index){
        <div class="animate-pulse rounded-lg  bg-white p-2 w-[100%]">
            <div class="bg-gray-300 h-44 w-full rounded-md mb-4"></div>

            <div class="h-4 bg-gray-300 rounded w-3/4 mb-2"></div>
            <div class="h-4 bg-gray-300 rounded w-1/2 mb-4"></div>
        </div>
        } }

    </div>
</section>