<div class="max-w-xl mx-auto p-6 bg-white rounded-2xl ">

    <h2 class="text-2xl font-bold text-gray-700 pl-4 border-l-4 border-green-500 mb-5">
        Shipping Details
    </h2>
    <div class="absolute top-[15%]  right-[5%] z-[-1] hidden lg:block">
        <img src="/images/Payment Information.gif" alt="">
    </div>
    <form [formGroup]="paymentForm" (ngSubmit)="paymentForm" class="space-y-5">


        <!-- Phone -->
        <div>
            <label class="block mb-1 text-sm font-medium text-gray-700">Phone Number</label>
            <input formControlName="phone" type="tel" placeholder="+20 123 456 7890" class="w-full border border-gray-300 rounded-xl px-4 py-2 focus:ring-2 focus:ring-green-500 focus:outline-none" required> @if (paymentForm.get('phone')?.errors &&paymentForm.get('phone')?.touched
            ) {
            <div class="mt-2 flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
  </svg>
                <span class="sr-only">Info</span>
                <div>
                    <span class="font-medium">Danger alert!</span> Data is Required
                </div>
            </div>}
        </div>

        <!-- City -->
        <div>
            <label class="block mb-1 text-sm font-medium text-gray-700">City</label>
            <input formControlName="city" type="text" placeholder="Cairo" class="w-full border border-gray-300 rounded-xl px-4 py-2 focus:ring-2 focus:ring-green-500 focus:outline-none" required> @if (paymentForm.get('city')?.errors &&paymentForm.get('city')?.touched
            ) {
            <div class="mt-2 flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
  </svg>
                <span class="sr-only">Info</span>
                <div>
                    <span class="font-medium">Danger alert!</span> Data is Required
                </div>
            </div>}
        </div>

        <!-- details -->
        <div>
            <label class="block mb-1 text-sm font-medium text-gray-700">Details</label>
            <input formControlName="details" type="text" placeholder="123 El Tahrir St" class="w-full border border-gray-300 rounded-xl px-4 py-2 focus:ring-2 focus:ring-green-500 focus:outline-none" required> @if (paymentForm.get('details')?.errors &&paymentForm.get('details')?.touched
            ) {
            <div class="mt-2 flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
  </svg>
                <span class="sr-only">Info</span>
                <div>
                    <span class="font-medium">Danger alert!</span> Data is Required
                </div>
            </div>}
        </div>
        <label class="inline-flex items-center me-5 cursor-pointer">
  <input (click)="checkBtn()" type="checkbox" value="" class="sr-only peer" >
  <div class="relative w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700   dark:peer-focus:ring-green-800 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-green-600"></div>
  <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Online Payment</span>
</label>
        <!-- Checkout Button -->
        <div class="pt-4">
            <button [disabled]="paymentForm.invalid" (click)="payMethod()" type="submit" class="w-full bg-green-600 hover:bg-green-700 text-white font-semibold py-3 px-6 rounded-xl transition duration-300 disabled:bg-gray-600">
        Proceed to Checkout
      </button>
        </div>
    </form>
</div>